---
import Contactos from '../../components/Contactos.astro'
import Inicio from '../../components/Inicio.astro'
import Nuestros from '../../components/Nuestros.astro'
import Prestamos from '../../components/Prestamos.astro'
import Header from '../../layouts/Header.astro'
import Layout from '../../layouts/Layout.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Préstamos Personales y Comerciales | Tu Compañía de Confianza">
	<Header />
	<main class="">
		<section
			id="inicio"
			class="relative bg-black/90 pt-24">
			<Inicio />
		</section>
		<section
			id="prestamos"
			class="py-12 bg-black/90">
			<Prestamos />
		</section>
		<section
			id="nuestros"
			class="py-12 bg-black/90">
			<Nuestros />
		</section>
		<section
			id="contactos"
			class="bg-black/90 py-12">
			<Contactos />
		</section>
	</main>
</Layout>
