---
import Contactos from '../components/Contactos.astro'
import Inicio from '../components/Inicio.astro'
import Servicios from '../components/Servicios.astro'
import Header from '../layouts/Header.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<main>
		<section id="inicio">
			<Inicio />
		</section>
		<section id="servicios">
			<Servicios />
		</section>
		<section id="contactos">
			<Contactos />
		</section>
	</main>
</Layout>
