---
import Header from '../../layouts/Header.astro'
import Layout from '../../layouts/Layout.astro'
import Nosotros from './Nosotros.astro'
---

<Layout>
	<Header />
	<main class="bg-gray-100 py-16">
		<section
			id="nosotros"
			class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
			<Nosotros />
		</section>
	</main>
</Layout>
