<section
	id="prestamos"
	class="py-12 bg-black">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div class="lg:text-center">
			<h2 class="text-base text-gold-500 font-semibold tracking-wide uppercase">
				Préstamos
			</h2>
			<p
				class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gold-500 sm:text-4xl">
				Soluciones para cada necesidad
			</p>
			<p class="mt-4 max-w-2xl text-xl text-gold-500 lg:mx-auto">
				Ofrecemos diferentes tipos de préstamos adaptados a tus necesidades
				específicas.
			</p>
		</div>

		<div class="mt-10">
			<div
				class="space-y-10 md:space-y-0 md:grid md:grid-cols-3 md:gap-x-8 md:gap-y-10">
				<!-- Personal Loans -->
				<div
					class="relative bg-black/80 p-6 rounded-lg shadow-lg border border-gold-500">
					<h3 class="text-2xl font-bold text-gold-500 mb-4">
						Préstamos Personales
					</h3>
					<p class="text-gold-500">
						Ideal para emergencias, consolidación de deudas o proyectos
						personales.
					</p>
					<ul class="space-y-2 mb-6">
						<li class="flex items-center">
							<svg
								class="h-5 w-5 text-green-500 mr-2"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								></path>
							</svg>
							Tasas fijas y flexibles
						</li>
						<li class="flex items-center">
							<svg
								class="h-5 w-5 text-green-500 mr-2"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								></path>
							</svg>
							Plazos a tu necesidad
						</li>
						<li class="flex items-center">
							<svg
								class="h-5 w-5 text-green-500 mr-2"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								></path>
							</svg>
							Aprobación rápida
						</li>
					</ul>
					<!--TODO: Make landing for loan types /#prestamos/personal -->
					<a
						href="#"
						class="inline-block bg-gold-500 text-black px-6 py-2 rounded-md hover:bg-indigo-700 transition-colors">
						Más información
					</a>
				</div>

				<!-- Commercial Loans -->
				<div
					class="relative bg-black/80 p-6 rounded-lg shadow-lg opacity-75 border border-gold-500">
					<div
						class="absolute inset-0 flex items-center justify-center bg-gray-100 bg-opacity-50 rounded-lg">
						<span class="text-gold-500 font-semibold">Próximamente</span>
					</div>
					<h3 class="text-2xl font-bold text-gold-500 mb-4">
						Préstamos Comerciales
					</h3>
					<p class="text-gold-500">
						Impulsa tu negocio con nuestras soluciones de financiamiento
						empresarial.
					</p>
					<ul class="space-y-2 mb-6">
						<li class="flex items-center">
							<svg
								class="h-5 w-5 text-green-500 mr-2"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								></path>
							</svg>
							Capital de trabajo
						</li>
						<li class="flex items-center">
							<svg
								class="h-5 w-5 text-green-500 mr-2"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								></path>
							</svg>
							Expansión de negocio
						</li>
						<li class="flex items-center">
							<svg
								class="h-5 w-5 text-green-500 mr-2"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								></path>
							</svg>
							Equipamiento
						</li>
					</ul>
				</div>

				<!-- Mortgage Loans -->
				<div
					class="relative bg-black/80 p-6 rounded-lg shadow-lg opacity-75 border border-gold-500">
					<div
						class="absolute inset-0 flex items-center justify-center bg-gray-100 bg-opacity-50 rounded-lg">
						<span class="text-gold-500 font-semibold">Próximamente</span>
					</div>
					<h3 class="text-2xl font-bold text-gold-500 mb-4">
						Préstamos Hipotecarios
					</h3>
					<p class="text-gold-500">
						Haz realidad el sueño de tu casa propia con nuestro financiamiento.
					</p>
					<ul class="space-y-2 mb-6">
						<li class="flex items-center">
							<svg
								class="h-5 w-5 text-green-500 mr-2"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								></path>
							</svg>
							Tasas competitivas
						</li>
						<li class="flex items-center">
							<svg
								class="h-5 w-5 text-green-500 mr-2"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								></path>
							</svg>
							Plazos hasta 30 años
						</li>
						<li class="flex items-center">
							<svg
								class="h-5 w-5 text-green-500 mr-2"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								></path>
							</svg>
							Asesoría personalizada
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
